@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(images/bg1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding: 0px 165px;
}

.header-holder {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.header-navbar {
    display: flex;
    align-items: center;
}

.header-navbar__links {
    display: flex;
}

.link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    transition: all 0.5s;
}

.link:hover {
    color: #FF7400;
}

.header-navbar__phone {
    color: white;
}

.header-navbar__cart {
    display: flex;
    align-items: center;
    border-right: 1px solid white;
    height: 51px;
    padding-left: 36px;
    padding-right: 21px;
}

.header-navbar__phone {
    padding-left: 10px;
}

.number {
    display: flex;
    align-items: center;
    padding-right: 5px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.text {
    font-family: 'Open Sans', sans-serif;
}

.header-navbar_button {
    margin-left: 45px;
}

.button {
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    background-color: #FF7400;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    transition: all 0.5s;
}

.button:hover {
    background-color: #FFA500;
}

.header-content {
    position: absolute;
    padding-top: 190px;
}

.header-content__title {
    text-align: center;
    font-size: 50px;
    font-family: 'Tinos', sans-serif;
    color: #D67E35;
}

.header-content__subtitle {
    text-align: center;
    font-family: 'Tinos', sans-serif;
    font-size: 80px;
    color: #D67E35;
}

.header-content__text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 25px 0px;
    font-size: 18px;
    color: white;
}

.header-content__button {
    text-align: center;
    margin-top: 15px;
}

.cards {
    position: relative;
    bottom: 100px;
}

.cards-card {
    display: flex;
    justify-content: space-around;
}

.card-item {
    display: block;
    justify-content: center;
    width: 349px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px 30px;
    margin-right: 20px;
}

.card-item:not(:last-of-type) {
    margin-left: 0px;
}

.card-item__title {
    font-family: 'Tinos', sans-serif;
    font-size: 26px;
}

.subtitle {
    color: #BC9060;
}

.card-item__content {
    text-align: center;
}

.card-item__text {
    color: #656363;
    font-size: 26px;
}

.our-history {
    margin-top: 60px;
    margin-bottom: 200px;
}

.our-history__content {
    display: flex;
    position: relative;
}

.our-history__title {
    text-align: center;
    font-family: 'Tinos', sans-serif;
    font-size: 54px;
    padding-bottom: 20px;
}

.our-history__text {
    width: 444px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 40px;
    color: #656363;
}

.our-history__counts {
    display: flex;
    justify-content: space-around;
}

.count {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: #BC9060;
    text-align: center;
}

.subcounttitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

.our-history__images {
    display: flex;
}

.image_one {
    position: relative;
    top: -18px;
    right: -107px;
    z-index: 999;
}

.image_two {
    position: relative;
    z-index: 100;
    top: 156px;
    left: 108px;
}

.image_three {
    position: relative;
    top: -22px;
    left: -270px;
}

.celebrating {
    background-image: url(images/bg2.png);
    margin-top: 50px;
    padding: 80px 0px;
}

.celebrating-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.celebrating-content__title {
    font-family: 'Tinos', sans-serif;
    font-size: 52px;
    color: #d67e34;
}

.celebrating-content__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 20px;
    color: #ffffff;
}

.our-meals {
    margin-top: 120px;
    margin-bottom: 150px;
}

.our-meals__title {
    font-family: 'Tinos', sans-serif;
    font-size: 54px;
    text-align: center;
    margin-bottom: 90px;
}

.our-meals__images {
    display: flex;
}

.our-meals__images .small_images {
    display: block;
    padding-left: 30px;
}

.our-meals__images .image-card {
    padding-bottom: 30px;
}

.image-card__content {
    display: flex;
    align-items: center;
}

.image-card__content .content_title {
    padding: 0px 30px;
    font-family: 'Tinos', sans-serif;
    font-size: 26px;
}

.image-card__content .content_price {
    font-family: 'Tinos', sans-serif;
    font-size: 26px;
}

.our-menu {
    background-image: url(images/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

.our-menu__title {
    text-align: center;
    font-family: 'Tinos', sans-serif;
    font-size: 54px;
    color: #ffffff;
    padding: 110px 0px;
}

.our-menu__cards {
    display: flex;
    justify-content: space-around;
}

.our-menu__card {
    display: block;
    justify-content: center;
    background-color: #ffffff;
    padding: 30px 50px;
}

.our-menu__image {
    text-align: center;
}

.our-menu__subtitle {
    font-family: 'Tinos', sans-serif;
    font-size: 26px;
    text-align: center;
    padding: 20px 0px;
}

.our-menu__text {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 25px;
}

.our-menu__button {
    text-align: center;
}

.comment {
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #E5E5E5;
}

.comment__text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
}

.comment__avatar {
    margin: 20px 0px;
    text-align: center;
}

.comment__avatar img {
    border-radius: 50px;
}

.comment__human {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.comment__username {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

.galery-dishes {
    margin: 25px 0px;
}

.galery-dishes__title {
    font-family: 'Tinos', sans-serif;
    font-size: 54px;
    text-align: center;
}

.galery-dishes__foods {
    display: flex;
    justify-content: space-between;
}

.small-image_dishe__first {
    margin-right: 25px;
}

.small-image_dishe__second {
    margin-left: 25px;
}

.our-cooks {
    margin-top: 100px;
}

.our-cooks__title {
    font-family: 'Tinos', sans-serif;
    font-size: 54px;
    text-align: center;
    margin-bottom: 100px;
}

.our-cooks__image {
    display: flex;
    justify-content: space-between;
}

.footer {
    padding: 50px 0px;
    margin-top: 100px;
    background-color: #656363;
}

.footer__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
}